@model AlphaBugTracker.Models.Ticket

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Title 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            Description
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            Created Date
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            Updated Date
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
        <dt class = "col-sm-2">
            Type
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketTypeId)
        </dd>
        <dt class = "col-sm-2">
            Priority
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketPriorityId)
        </dd>
        <dt class = "col-sm-2">
            Status
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketStatusId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit"   asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index"  asp-controller="Comment" asp-route-id="@Model?.Id">Comments</a> |
    <a asp-action="Index">Back to List</a>
</div>
