@model IEnumerable<AlphaBugTracker.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Index" asp-controller="Project"  >Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Created Date
            </th>
            <th>
                Updated Date
            </th>
            <th>
                Type
            </th>
            <th>
               Priority
            </th>
            <th>
                Status
            </th>
            <th>
                Project
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketPriorityId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketStatusId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Name)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
